@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

header {
  display: flex;
  align-items: center;
}

header > h1 {
  height: 100%;
  margin: 0;
  background-color: #00A3FF;
  color: white;
  font-weight: normal;

  padding: .2em .2em;
}

header > .tagline {
  margin-left: .4em;
  font-size: 1.3em;
}

main {
  display: flex;
  flex-flow: wrap;
}

.map {
  border-top: 1px #E5E5E5 solid;

  flex-basis: 800px;
  flex-grow: 1;
}

.sidebar {
  border-top: 1px #E5E5E5 solid;
  border-left: 1px #E5E5E5 solid;

  flex-grow: 1;
  min-width: 300px;

  /* padding-left: 2em; */
}

.pane {
  margin-left: 2em;
  margin-right: 2em;
}

.pane > h2 {
  color: #00A3FF;
  font-weight: normal;
  margin-bottom: 0;
}

.pane:not(:first-child) {
  border-top: 1px #E5E5E5 dashed;
}

.divider:empty {
  width: 10em;
  border-bottom: 1px #E5E5E5 solid;
}